[submodule ".registry"]
	path = .registry
	url = https://github.com/ices-tools-prod/universe
	shallow = true
	branch = HEAD
[submodule "icesVocab"]
	path = icesVocab
	url = https://github.com/ices-tools-prod/icesVocab
	shallow = true
	registered = true
[submodule "icesDatras"]
	path = icesDatras
	url = https://github.com/ices-tools-prod/icesDatras
	shallow = true
	registered = true
